# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
dist/
*.db
storage/

# Node
node_modules/
frontend/dist/
frontend/.vite/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
*.env

# Editor
.vscode/
.idea/
